# Configuración de servidor
PORT=3000

# Base de datos MongoDB (otros datos)
MONGODB_URI=mongodb://127.0.0.1:27017/sistema_bancario

# Base de datos PostgreSQL (usuarios)
DB_HOST=localhost
DB_PORT=5436
DB_NAME=bancos_db
DB_USER=RUBIOSR
DB_PASSWORD=Bancos123!

# JWT
JWT_SECRET=tu_secreto_seguro_aqui
JWT_ISSUER=SistemaBancario
JWT_AUDIENCE=BankingAPI

# SMTP
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
SMTP_FROM="Los Rubios Rojos Banco" <no-reply@losrubiosrojosbanco.com>
FRONTEND_URL=http://localhost:5173

# Configuración de rate limit
LOGIN_RATE_LIMIT_WINDOW_MIN=10
LOGIN_RATE_LIMIT_MAX=5
